.u-section-1 .u-sheet-1 {
  min-height: 395px;
}

.u-section-1 .u-text-1 {
  margin: 37px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.875rem;
  margin: 46px auto 0;
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 99px 0 56px;
}