.u-section-1 .u-sheet-1 {
  min-height: 764px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 55px 0 0;
}

.u-section-1 .u-text-2 {
  text-decoration: underline !important;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 30px 0 0;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 32px;
  min-width: 16px;
  margin: 100px auto 48px;
}

.u-section-1 .u-icon-1 {
  height: 100%;
  color: rgb(3, 155, 229) !important;
}

@media (max-width: 575px) {
  .u-section-1 .u-social-icons-1 {
    margin-top: 62px;
    margin-bottom: 60px;
  }
}